* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Jost', 'Merriweather', sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.header {
    position: fixed;
    top: 40px;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: white;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
}

.header .container-header {
    padding: 0;
}

.header .navbar {
    display: flex;
    justify-content: space-between;
}

.header .nav-toggler {
    display: none;
}

.header .logo a {
    text-decoration: none;
    color: #189a46;
    font-size: 1.7rem;
    font-weight: 700;

}

.header .nav a {
    text-decoration: none;
    color: #000c04;
    margin: 14px 12px;
    font-size: 1rem;
    position: relative;
    transition: all .5s;
}

.header .nav .home {
    color: #189a46;
}

.header .nav a::after {
    content: "";
    width: 0;
    background-color: #189a46;
    height: 0.5px;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all .5s;
}

.header .nav a:hover::after {
    width: 100%;
}

.header .nav a:hover {
    color: #189a46;
}

.header .nav i {
    color: #000c04;
    padding: 14px 12px;
    font-size: 1rem;
    line-height: 1.5;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 48px 25px;
}

.carousel {
    background-image: url(./../../img/banner4.jpg);
    background-position: center;
    background-size: cover;
    margin-top: 90px;
    padding: 10px;
    text-align: center;
    z-index: 0;
    position: relative;
}

.carousel::before {
    content: "";
    z-index: -1;
    position: absolute;
    background-color: #0c0c0c;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .6;
}

.carousel .carousel-color {
    color: #fff;
}

.carousel h2 {
    font-size: 2.5rem;
    font-weight: 700;
}

.carousel a {
    text-decoration: none;
    color: #189a46;
}

.carousel span {
    font-size: 0.6rem;
}

.carousel p {
    display: inline;
}

.about {
    padding: 48px 0;
}

.about .about-content {
    display: flex;
    align-items: center;
}

.about .about-content .about-info {
    width: 42%;
    padding: 0 15px 0 24px;

}

.about .about-content .about-info h5 {
    font-size: 0.9rem;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2;
    letter-spacing: 1px;
    color: #f53626;
    margin: 0;
}

.about .about-content .about-info h4 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 48px;
    text-transform: capitalize;
}

.about .about-content .about-info h3 {
    font-size: 1.1rem;
    line-height: 32px;
    opacity: 0.88;
    font-weight: 700;
    margin: 0;
}

.about .about-content .about-text {
    width: 58%;
    padding: 0 15px 0 48px;

}

.about .about-content .about-text p {
    font-size: 1em;
    line-height: 28px;
    color: #696969;
    margin-bottom: 16px;
}

.about .about-content .about-text a {
    font-size: 0.85rem;
    border-bottom: 2px solid #189a46;
    color: #000c04;
    font-weight: 700;
    margin-top: 20px;
    text-decoration: none;
    display: inline-block;
    transition: all 0.5s ease-in-out;
}
.about .about-content .about-text a:hover {
    color: #189a46;
}

.history {
    background-image: url(./../img/banner2.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
    align-items: center;
    padding: 2.4rem 0;
}

.history::before {
    content: "";
    background-color: rgba(0, 4, 8, 0.69);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.history .history-content {
    padding-top: 0.8rem;
    margin-left: auto;
    max-width: 640px;
    text-align: left;
}

.history .history-content h4 {
    font-size: 0.9rem;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2;
    letter-spacing: 1px;
    color: #f53626;
    margin: 0;
}

.history .history-content h3 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 48px;
    margin: 0;
    color: #fff;
}

.history .history-content p {
    margin: 16px 0 0;
    font-size: 0.9rem;
    color: #fff;
    opacity: 0.7;
}

.history .history-content .history-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-top: 40px;
}

.history .history-content .history-grid .history-item h5 {
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 6px;
}

.history .history-content .history-grid .history-item p {
    margin: 0;
    font-size: 1rem;
    line-height: 28px;
    color: #fff;
    opacity: 0.75;
}

.content {
    padding: 48px 0;
}

.content .content-info {
    display: flex;

}

.content .content-info .content-left {
    width: 50%;
    padding: 0 24px 0 15px;
    text-align: right;
}

.content .content-info .content-left h5 {
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 1px;
    color: #f53626;
    margin: 0;
}

.content .content-info .content-left h3 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 48px;
    margin: 0;
}

.content .content-info .content-left p {
    margin: 16px 0 0;
    font-size: 1rem;
    line-height: 28px;
    color: #696969;
}

.content .content-info .content-left img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 16px 0 0;
}

.content .content-info .content-right {
    width: 50%;
    padding: 0 15px 0 24px;
}
.content .content-info .content-right .content-item{
    display: flex;
    margin-bottom: 48px;
}
.content .content-info .content-right .content-item .content-icon{
    width: 16.7%;
    padding: 0 15px;
}
.content .content-info .content-right .content-item .content-icon span{
    color: #189a46;
    font-size: 2.2rem;
    text-align: center;
}
.content .content-info .content-right .content-item .content-text{
    width: 83.3%;
    padding-right: 15px;
}
.content .content-info .content-right .content-item .content-text h5{
    margin: 0;
}
.content .content-info .content-right .content-item .content-text a{
text-decoration: none;
color: #000c04;
    font-weight: 700;
    transition: all .5s;
}
.content .content-info .content-right .content-item .content-text a:hover{
    color: #189a46;
}
.content .content-info .content-right .content-item .content-text p{
    margin: 0;
    font-size: 0.89rem;
    line-height: 28px;
    color: #696969;
}
.team{
    background-color: rgb(147 107 232 / 5%);
    padding: 48px 0;
}
.team .team-title{
    text-align: center;
    margin-bottom: 48px;
}
.team .team-title h3{
    font-size: 0.9rem;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2;
    letter-spacing: 1px;
    color: #f53626;
    margin: 0;
}
.team .team-title h2{
    font-size: 2rem;
    font-weight: 700;
    line-height: 48px;
    margin: 0;
}
.team .team-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
}
.team img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s linear;
    display: block;
}
.team .item-img{
    overflow: hidden;
}

.team .team-item .item-info{
    text-align: center;
}
.team .team-item .item-info h3{
margin: 16px 0 0;
}
.team .team-item .item-info a{
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 26px;
    color: #000c04;
    font-weight: 700;
    transition: all .5s;
}
.team .team-item:hover .item-info a{
color: #189a46;
}
.team .team-item:hover .item-img img{
    transform: scale(1.1)
    
}
.team .team-item .item-info p{
font-size: 0.85rem;
line-height: 25px;
color: #696969;
margin: 0;
}
.team .team-item .item-info .social{
    margin-top: 16px;
}
.team .team-item .item-info .social a{
    display: inline-block;
    margin-right: 6px;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    line-height: 15px;
    text-align: center;
    background: rgb(147 107 232 / 5%);
    color: #189a46;
    transition: all .5s;
}
.team .team-item .item-info .social a:hover{
    background-color: #189a46;
    color: #fff;
}
.team .team-item .item-info .social i{
    font-size: 12px;
    line-height: 30px;
}
.footer {
    background-color: #111;
}

.footer .footer-content {
    display: flex;
    justify-content: space-between;
}

.footer .footer-content .footer-info {
    width: 50%;
    margin-top: 20px;
}

.footer .footer-content .footer-info h5 {
    color: #fff;
    font-size: 1rem;
    line-height: 26px;
    font-weight: 700;
    margin-bottom: 25px;
}

.footer .footer-content .footer-info p {
    font-size: 0.85rem;
    color: #696969;
    line-height: 28px;
    margin: 0;
}

.footer .footer-content .footer-info span {
    font-weight: bolder;
}

.footer .footer-content .footer-info a {
    text-decoration: none;
    color: #696969;
}

.footer .footer-content .footer-info a:hover {
    text-decoration: underline;
    color: #fff;
}

.footer .footer-content .footer-info .footer-social {
    margin-top: 20px;
}

.footer .footer-content .footer-info .footer-social a {
    font-size: .8rem;
    margin-right: 15px;
}

.footer .footer-content .footer-list {
    display: flex;
    width: 50%;
    margin-top: 10px;
}

.footer .footer-content .footer-list .footer-item {
    width: calc(100%/3);

}

.footer .footer-content .footer-list .footer-item h2 {
    margin-bottom: 25px;
    font-size: 1rem;
    color: #fff;
    line-height: 26px;
    font-weight: 700;
}

.footer .footer-content .footer-list .footer-item ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer .footer-content .footer-list .footer-item li {
    margin-bottom: 5px;
}

.footer .footer-content .footer-list .footer-item a {
    text-decoration: none;
    color: #696969;
    font-size: 0.85rem;
}

.footer .footer-content .footer-list .footer-item a:hover {
    text-decoration: underline;
    color: #fff;
}

.footer .footer-copy {
    text-align: center;
    margin-top: 48px;
    border-top: 1px solid rgba(103, 99, 99, 0.14);
    padding-top: 24px;
}

.footer .footer-copy p {
    margin-bottom: 0;
    color: #696969;
    font-size: 0.85rem;
}

.footer .footer-copy a {
    color: #f53626;
    opacity: 0.9;
    text-decoration: none;
}

.footer .footer-copy a:hover {
    text-decoration: underline;
}

.footer .footer-container {
    padding-bottom: 24px;
}
/* respon */


/* desktop */
@media screen and (max-width:1200px) {
    
    .container{
        padding: 35px 25px;
    }
    .content .content-info .content-right .content-item{
        margin-bottom: 30px;
    }
}
/* tablet */
@media screen and (max-width:992px) {
    html, body{
        font-size: 16px;
    }
    .header .nav {
        display: none;
    }

    .header .nav-toggler {
        display: inline-block;

    }

    .header .nav-toggler a {
        background-color: transparent;
        border: none;
        color: #189a46;
        font-size: 2rem;
        margin-right: 20px;
    }
    .about .about-content .about-info h4{
        line-height: 40px;
    }
    .about .about-content .about-text p{
        line-height: 20px;
    }
    .about .about-content .about-text a{
        margin-top: 10px;
    }
    .history .history-content{
        max-width: 500px;
    }
    .content .content-info .content-right .content-item .content-text p{
        line-height: 20px;
    }
    .content .content-info .content-left p{
        margin: 10px 0 0;
        line-height: 20px;
    }
    .content{
        padding: 0;
    }
    .team{
        padding: 0;
    }
    .team .team-title{
        margin-bottom: 35px;
    }
    .team .team-grid{
    grid-gap: 20px;
    }
    .footer .footer-copy {
        margin-top: 15px;
    }
}
/* phone ngang */
@media screen and ( max-width:768px){
    html, body{
        font-size: 13px;
    }
    .header {
        top: 20px;
    }
    .container{
        padding: 25px 20px;
    }
    .carousel{
        margin-top: 50px;
    }
    .about{
        padding:20px 0;
    }
    .about .about-content .about-text p{
        margin-bottom: 8px;
    }
    .history .history-content{
        max-width: 350px;
    }
    .history .history-content .history-grid{
        grid-gap: 10px;
        margin-top: 20px;
    }
    .content .content-info .content-right .content-item .content-icon{
        padding: 0;
    }
    .content .content-info .content-left h3{
        line-height: 30px;
    }
    .content .content-info .content-right .content-item{
        margin-bottom: 15px;
    }
    .team .team-title{
        margin-bottom: 20px;
    }
    .team .team-grid{
        grid-gap: 10px;
    }
    .footer .footer-content .footer-info h5 {
        margin-bottom: 5px;
        line-height: 10px;
    }

    .footer .footer-content .footer-info p {
        line-height: 15px;
    }

    .footer .footer-content .footer-info .footer-social {
        margin-top: 10px;
    }

    .footer .footer-content .footer-list .footer-item h2 {
        margin-bottom: 5px;
        line-height: 10px;
    }

    .footer .footer-copy {
        padding-top: 5px;
    }
}
/* phone d·ªçc */
@media screen and (max-width:576px){
    html, body{
        font-size: 10px;
    }
    .header {
        top: 10px;
    }
    .container{
        padding: 10px;
    }
    .about .about-content .about-text p{
        line-height: 15px;
    }
    .about .about-content .about-info h4{
        line-height: 25px;
    }
    .about .about-content .about-info h3{
        line-height: 16px;
    }
    .content .content-info .content-right .content-item .content-text p{
        line-height: 10px;
    }
    .content .content-info .content-left p{
        margin: 0;
    }
    .team .team-title h2{
        line-height: 20px;
    }
    .team .team-item .item-info h3{
        margin-top: 8px;
    }
    .team .team-item .item-info p{
        line-height: 10px;
    }
    .team .team-item .item-info .social a{
        width: 15px ;
        height: 15px;
    }
    .footer .footer-content .footer-info{
        margin-top: 10px;
    }
    .footer .footer-content .footer-info .footer-social a{
        margin-right: 10px;
    }
    .footer .footer-container{
        padding-bottom: 15px;
    }
}