* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #189a46;
    --secondary-color: #f53626;
    --font-color: #696969;
    --bg-color: #fff;
    --heading-color: #000c04;
    --border-radius: 10px;
    --border-color: #ddd;
    --border-light: #f0f3f0;
    --nav-color: #292922;
    --dropdown-color: #fff;
    --bg-light: rgba(147, 107, 232, 0.05);
    --iframe-filter: grayscale(0%);
    --widget-bg: #3f3a64;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: 'Jost', sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

img {
    vertical-align: middle;
    border-style: none;
}

section {
    display: block;
}

/* header */

header {
    border: none;
    margin-top: 80px;
    display: grid;
    transition: all 0.4s ease 0s;
    box-shadow: 0 6px 6px 0;
}

.fixed-top {
    position: fixed;
    top: 10px;
    right: 0;
    left: 0;
    z-index: 1030;
}

nav {
    padding-left: 240px;
}

.navbar .nav-item .nav-link {
    text-transform: capitalize;
    color: var(--heading-color);
    display: inline-block;
    transition: all 0.5s ease;
    font-size: 1.2rem;
    font-weight: 400;
    position: relative;
}

.navbar .nav-item .nav-link::after {
    content: "";
    width: 0px;
    height: 1px;
    display: block;
    background: rgb(8, 184, 14);
    transition: 300ms;
}

.navbar .nav-item .nav-link:hover::after {
    width: 100%;
}

.navbar .nav-item .nav-link:hover {
    color: rgb(8, 184, 14);
}

/* rep */

.nav-items {
    position: relative;
    display: inline-block;
    transition: all 0.5s ease;
    list-style-type: none;
    -webkit-appearance: none;
    outline: none;
    font-family: "Jost", sans-serif;
}

.nav-items .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.nav-items .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.nav-items .dropdown-content a:hover {
    background-color: red;
}

.nav-items:hover .dropdown-content {
    display: block;
    background-color: white;
}

.nav-items .nav-links {
    margin-left: 4px;
    color: var(--heading-color);
    text-transform: capitalize;
    transition: all 0.5s ease;
    padding: 14px 0;
    font-size: 1.2rem;
    position: relative;
    text-decoration: none;
    display: block;
    top: -3px;
    white-space: nowrap;
}

/* /////// rep+ */
.nav-items .nav-links::before {
    position: absolute;
    content: "";
    background: var(--primary-color);
    width: 0px;
    height: 1px;
    bottom: 13px;
    transition: all 0.5s;
    box-sizing: border-box;
}

/* ////////// */
.nav-items span {
    font-size: 16px;
    padding-left: 2px;
    font-weight: 600;
}

.nav-items .nav-links:hover,
.dropdown-item:hover {
    color: rgb(8, 184, 14);
    text-decoration: underline;
    transition: 300ms;
    width: 100%;
}

.nav-items .nav-links:hover {
    color: rgb(8, 184, 14);
    text-decoration: underline;
}

/* end header */

/* carousel */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    /* background-color: #e9ecef; */
    border-radius: 0.25rem;
    /* align-items: center; */
    justify-content: center;
    text-decoration: none;
}

.breadcrumb a {
    text-decoration: none;
    color: green;
}

.breadcrumb-item+.breadcrumb-item {
    padding-left: 0.5rem;
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    color: #6c757d;
    content: "";
}

.breadcrumb-item+.breadcrumb-item:hover::before {
    /* text-decoration: underline; */
}

.breadcrumb-item+.breadcrumb-item:hover::before {
    text-decoration: none;
}

.breadcrumb-item.active {
    color: #6c757d;
}

.carousel {
    margin-top: 90px;
    background: url(../img/g4.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    z-index: 0;
    display: grid;
    align-items: center;
    padding: 1em 0;
    text-align: center;
}

/* end carousel */

/* contact */
.contact {
    padding: 80px 0;
}

.main{
    display: grid;
}

.contact .sub-title {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1px;
    color: red;
    text-align: center;
}

.contact .title {
    font-size: 40px;
    font-weight: 600px;
    line-height: 48px;
    text-transform: capitalize;
    text-align: center;
}

.contact .contacts .container{
    /* flex-grow: 1; */
    display: grid;
    /* flex-direction: column;
    justify-content: space-between; */
    grid-template-columns: 60   0px auto;
    grid-gap: 20px;
}

.contacts .container form *{
    width: 100%;
    padding: 10px;
    font-size: 18px;
    /* display: block; */
}

.contacts .container {
    grid-template-columns: 2fr 1fr;
    grid-gap: 40px;
    /* width: 100%; */
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.form .obj input{
    width: 350px;
}

.form .obj{
    display: flex;
    justify-content: space-between;
}


.d-grid {
    display: grid;
}

/* .contact .row{
    display: grid;
} */
/* .twice-two {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
} */

/* .twice {
    margin-bottom: 20px;
} */

/* input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: 'Jost', sans-serif;
    font-size: inherit;
    line-height: inherit;
} */

/* button,
input {
    overflow: visible;
} */

/* textarea {
    overflow: auto;
    resize: vertical;
} */


/* textarea{
writing-mode: horizontal-tb !important;
text-rendering: auto;
color: fieldtext;
letter-spacing: normal;
word-spacing: normal;
line-height: normal;
text-transform: none;
text-indent: 0px;
text-shadow: none;
display: inline-block;
text-align: start;
appearance: auto;
-webkit-rtl-ordering: logical;
resize: auto;
cursor: text;
white-space: pre-wrap;
overflow-wrap: break-word;
background-color: field;
column-count: initial !important;
margin: 0em;
border-width: 1px;
border-style: solid;
border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
border-image: initial;
padding: 2px;
} */

/* textarea.Message {
    height: auto;
  } */

button{
    float: right;
    position: absolute;
    left: 600px;
}

.contact .submit{
    padding: 12px 35px;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    font-weight: 400;
    border-radius: 10px;
    color: white;
    background-color: green;
    border-color: green;
    /* max-width: 100%; */
    width: 300px !important;
}

.row h6{
    /* margin-le: -500px; */
    /* font-size: 999px; */
    position: relative;
    left: 10px;
}

.row .text{
    display: flex;
    flex-direction: column;
}

.contacts .Address{
    display: grid;
    grid-template-columns: 200px auto;
    /* grid-column-gap: 20px ; */
    width: 300px;
    /* background-color: red; */
}

.contacts .Address h6{
    position: relative;
    left: 0px;
    margin-left: -160px;
}

.contacts .Phone{
    display: grid;
    grid-template-columns: 200px auto;
    /* grid-column-gap: 20px ; */
    margin-top: 2.5em;
    /* text-decoration: none; */

}

.contacts .Phone h6{
    position: relative;
    left: 0px;
    margin-left: -160px;
}

.contacts .Mail{
    display: grid;
    grid-template-columns: 20px auto;
    grid-column-gap: 20px ;
    margin-top: 2.5em;
    /* text-decoration: none; */
}


.contact span{
    font-size: 22px;
    display: block;
    margin-top: 3px;
    color: #189a46;
}

.contact .row{
    text-decoration: none;
    display: grid;
}

.row a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.row a:hover{
    color: #189a46;
    text-decoration: underline;
}

.map{
    width: 100%;
    height: 370px;
    border-radius: 10px;
    /* padding: 0 0; */
    /* margin: 0 10px; */
    margin-top: 120px;
}

/* .contact .text a{
    text-align: none;
    
} */
/* End contact */


/* footer */
.foot-main {
    background-color: #000;
    display: flex;
    flex-direction: column;
}

.foot-main .foot-above {
    display: flex;
    margin-left: 240px;
    margin-top: 80px;
    width: 1000px;
    /* background-color: red; */
    justify-content: space-between;
}

.icons a {
    text-decoration: none;
}

.icons a i {
    color: gray;
    margin-right: 10px;
}

.foot-main .foot-above .first h2 {
    font-size: 22px;
    font-weight: 600;
    color: white;
}

.foot-main .foot-above .first p {
    font-size: 14px;
    color: gray;
}

.foot-main .foot-above .second {
    display: flex;
    flex-direction: column;
}

.foot-main .foot-above .second h2 {
    font-size: 22px;
    font-weight: 600;
    color: white;
}

.foot-main .foot-above .second a {
    font-size: 14px;
    color: gray;
    text-decoration: none;
    margin-bottom: 10px;
}

.foot-main .foot-above .third {
    display: flex;
    flex-direction: column;
}

.foot-main .foot-above .third h2 {
    font-size: 22px;
    font-weight: 600;
    color: white;
}

.foot-main .foot-above .third a {
    font-size: 14px;
    color: gray;
    text-decoration: none;
    margin-bottom: 10px;
}

.foot-main .foot-above .four {
    display: flex;
    flex-direction: column;
}

.foot-main .foot-above .four h2 {
    font-size: 22px;
    font-weight: 600;
    color: white;
}

.foot-main .foot-above .four a {
    font-size: 14px;
    color: gray;
    text-decoration: none;
    margin-bottom: 10px;
}

.foot-main .foot-under hr {
    color: rgb(94, 88, 88);
}

.foot-main .foot-under {
    text-align: center;
}

.foot-main .foot-under a {
    color: red;
    text-decoration: none;
}

/* end footer */